.serv {
    position: relative;
    background-image: url("../img/serv-back1.png");
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.serv__left {
    ///...........Left-Services....
    max-height: 90%;
    min-width: 60%;
    margin-top: 5rem;
}

.crane {
    // background-color: mediumspringgreen;
    position: relative;
    background-image: url("../img/crane5.png");
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    width: 85%;
    height: 90%;
    margin: 3rem;
    &__left {
        ///...........Left-CRANE....
        position: absolute;
        left: 24%;
        top: 6%;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: $bp-largest) {
            left: 15%;
        }
        &--list {
            list-style: none;
            display: flex;
            flex-direction: column;
            // align-items: flex-end;
            // justify-content: flex-end;
        }
        &--pully {
            display: inline-block;
            background-image: url("../img/connect3.svg");
            background-repeat: no-repeat;
            background-position: center;
            margin-right: .75rem;
            width: 5rem;
            height: 5rem;
            // margin: 50px;
            // margin-left: 16%;
            align-self: center;
            text-align: center;
            @media only screen and (max-width: $bp-largest) {
                width: 4.5rem;
                height: 4.5rem;
            }
        }
        &--icon-box {
            width: 18rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        &--text {
            margin-right: 1rem;
        }
        &--icon {
            background-image: url("../img/icon1.svg");
            background-repeat: no-repeat;
            width: 6.5rem;
            height: 6.5rem;
            margin-top: .6rem;
            @media only screen and (max-width: $bp-largest) {
                width: 4.5rem;
                height: 4.5rem;
                margin-top: .2rem;
            }
        }
        &--line-box {
            width: 6.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            // align-self: center;
            // height: 6.5rem;
            @media only screen and (max-width: $bp-largest) {
                width: 4.5rem;
            }
        }
        &--line {
            background-color: #cecece;
            height: 3rem;
            width: .2rem;
            margin-top: .6rem;
            // align-self: center
            @media only screen and (max-width: $bp-largest) {
                height: 1.6rem;
                margin-top: .2rem;
            }
        }
    }
    &__right {
        ///...........Right-CRANE....
        position: absolute;
        right: 18%;
        top: 6%;
        display: flex;
        flex-direction: column;
        &--list {
            list-style: none;
            display: flex;
            flex-direction: column;
            // align-items: flex-end;
            // justify-content: flex-end;
        }
        &--pully {
            display: inline-block;
            background-image: url("../img/connect3.svg");
            background-repeat: no-repeat;
            background-position: center;
            margin-left: .75rem;
            width: 5rem;
            height: 5rem;
            // margin-left: 16%;
            align-self: center;
            text-align: center;
            @media only screen and (max-width: $bp-largest) {
                width: 4.5rem;
                height: 4.5rem;
            }
        }
        &--icon-box {
            width: 18rem;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
        }
        &--text {
            margin-left: 1rem;
        }
        &--icon {
            background-image: url("../img/icon1.svg");
            background-repeat: no-repeat;
            width: 6.5rem;
            height: 6.5rem;
            margin-top: .6rem;
            @media only screen and (max-width: $bp-largest) {
                width: 4.5rem;
                height: 4.5rem;
                margin-top: .2rem;
            }
        }
        &--line-box {
            width: 6.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            // align-self: center;
            // height: 6.5rem;
            @media only screen and (max-width: $bp-largest) {
                width: 4.5rem;
            }
        }
        &--line {
            background-color: #cecece;
            height: 3rem;
            width: .2rem;
            margin-top: .6rem;
            // align-self: center
            @media only screen and (max-width: $bp-largest) {
                height: 1.6rem;
                margin-top: .2rem;
            }
        }
    }
    // &__right {            ///...........Right-CRANE....
    //     position: absolute;
    //     right: 36%;
    //     top: 6%;
    //     display: flex;
    //     flex-direction: column;
    //     &--list {
    //         list-style: none;
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //     }
    //     &--pully {
    //         background-image: url("../img/connect3.svg");
    //         background-repeat: no-repeat;
    //         width: 6rem;
    //         height: 6rem;
    //         margin-left: 16%;
    //         @media only screen and (max-width: $bp-largest) {
    //             width: 3.5rem;
    //             height: 3.5rem;
    //         }
    //     }
    //     &--icon {
    //         background-image: url("../img/icon2.svg");
    //         background-repeat: no-repeat;
    //         width: 6.5rem;
    //         height: 6.5rem;
    //         margin-top: .6rem;
    //         @media only screen and (max-width: $bp-largest) {
    //             width: 4.5rem;
    //             height: 4.5rem;
    //         }
    //     }
    //     &--line {
    //         background-color: #cecece;
    //         height: 3rem;
    //         width: .2rem;
    //         margin-top: .6rem;
    //     }
    // }
}


/*///////////////////////////////////////////*/

.serv-right {
    align-self: center;
    ///...........Left-Services....
    // background-color: rgb(140, 61, 206);
    // min-height: 50%;
    // min-width: 50%;
    &__box {
        content: "";
        // padding: 20rem;
        min-height: 70rem;
        min-width: 50rem;
        border: 1rem solid transparent;
        &:hover {
            border: 1rem solid #1f65c1;
        }
    }
}

// img {
//     margin: 25% auto;
//     width: 50%;
//     height: 50%;
// }