

.block1 {
    background-color: rgba(255,255,255,.4);
    /* opacity: .6; */
    border-radius: 1.5rem;
    width: 40%;
    margin: 0 auto;
    padding: 0 2rem;
    margin-left: 4rem;

    opacity: 0;
    z-index: -1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

    .block1--visible {
        opacity: 1;
        z-index: 10;
    }

    .block1 img {
        position: relative;
        top: -6.5rem;
        width: 13rem;
        height: 13rem;
        margin-bottom: -6.5rem;
    }

    .block1 h3 {
        display: block;
        /* margin: -40px; */
        font-size: 2rem;
    }

    .block1__subtitle {
        font-size: 1.5rem;
    }

    .block1 .paragraph {
        text-align: center;
        line-height: 1.8;
        margin: 1.5rem 0;
        font-size: 1.5rem;
        color: #fff;
    }